<%- include('head') %>
		<div id="header_space_cover"></div>
		<article id="dashboard" class="contents">
			<section id="create_group">
				<div id="create_frame">
					<div id="create_header">Setting<span>&nbsp;&nbsp;그룹 설정 변경</span></div>
					<form method="post" action="">
					<div id="create_content">
						<div class="create_ele_block">
							<span class="label_txt">그룹 이름</span>
							<input type="text" readonly="true" value="<%=group.name %>">
							<!-- value 그룹이름 넣기 -->
						</div>
						<div class="create_ele_block">
							<span class="label_txt">참여 코드</span>
							<input readonly="true" class="invite_code" type="text" value="<%=group.name %>#<%=group.id%>">
							<!-- value 그룹코드 넣기 -->
						</div>
						<div class="create_ele_block">
							<span class="label_txt label_permit">그룹 참여 시 그룹장의 허가를 필요로 설정</span>
							<% if(group.permit == "on"){ %>
								<input type="checkbox" name="permit" checked>
							<% }else{ %>
								<input type="checkbox" name="permit">
							<% } %>
							<!-- 허가 설정 checked 여부 넣기 -->
						</div>
						<div class="create_deep_set">
							<div class="create_deep_title">그룹 상세 설정</div>
							<div class="create_deep_block">
								<div class="before_hidden_deep">
									<span>그룹원 자가진단 보고 기능 활성화</span>
									<% if(group.set1 == "on"){ %>
										<input class="hidden_chk" type="checkbox" name="set1" onClick="chk('set1',this)" checked>
									<% }else{ %>
										<input class="hidden_chk" type="checkbox" name="set1" onClick="chk('set1',this)">
									<% } %>
									<!-- 자가진단 활성화 checked 여부 넣기 -->
								</div>
								<div class="hidden_setting hidden_setting_set1">
									<input class="setting_days" type="number" name="set1_day" min="1" value="<%=group.set1_day %>" onchange="timeset(this)">
									<!-- 자가진단 몇 일 value 넣기 -->
									일 
									<input type="number" name="set1_time" min="1" value="<%=group.set1_time %>">
									<!-- 자가진단 몇 번 value 넣기 -->
									회 자가진단 보고
								</div>
							</div>
							<div class="create_deep_block">
								<div class="before_hidden_deep">
									<span>그룹원 이상유무 보고 기능 활성화</span>
									<% if(group.set1 == "on"){ %>
										<input class="hidden_chk" type="checkbox" name="set2" onClick="chk('set2',this)" checked>
									<% }else{ %>
										<input class="hidden_chk" type="checkbox" name="set2" onClick="chk('set2',this)">
									<% } %>
									<!-- 이상유무 활성화 checked 여부 넣기 -->
								</div>
								<div class="hidden_setting hidden_setting_set2">
									<input class="setting_days" type="number" name="set2_day" min="1" value="<%=group.set2_day %>" onchange="timeset(this)">
									<!-- 이상유무 몇 일 value 넣기 -->
									일 
									<input type="number" name="set2_time" min="1" value="<%=group.set2_time %>">
									<!-- 이상유무 몇 번 value 넣기 -->
									회 이상유무 보고
								</div>
							</div>
							<div class="create_deep_block">
								<div class="before_hidden_deep">
									<span>그룹원 체온 보고 기능 활성화</span>
									<% if(group.set1 == "on"){ %>
										<input class="hidden_chk" type="checkbox" name="set3" onClick="chk('set3',this)" checked>
									<% }else{ %>
										<input class="hidden_chk" type="checkbox" name="set3" onClick="chk('set3',this)">
									<% } %>
									<!-- 체온보고 활성화 checked 여부 넣기 -->
								</div>
								<div class="hidden_setting hidden_setting_set3">
									<input class="setting_days" type="number" name="set3_day" min="1" value="<%=group.set3_day %>" onchange="timeset(this)">
									<!-- 체온보고 몇 일 value 넣기 -->
									일 
									<input type="number" name="set3_time" min="1" value="<%=group.set3_time %>">
									<!-- 체온보고 몇 번 value 넣기 -->
									회 체온 보고
								</div>
							</div>
						</div>
						<div class="setting_remove">
							<div class="setting_remove_title">
								그룹 삭제하기
							</div>
							<div class="rm_btn">그룹삭제</div>
							<span>※주의 : 그룹 삭제시 복구가 불가능합니다</span>
						</div>
						<div class="create_ele_block create_submit">
							<button class="create_submit_btn">변경내역 저장</button>
						</div>
					</div>
					</form>
				</div>
			</section>
		</article>
	</section>
</body>
<script>
	var a = document.querySelector(".rm_btn");
	a.addEventListener("click", function(){
		var result = confirm("삭제하시겠습니까?");
		if(result){
			alert("그룹 삭제하면서 관련 DB들 삭제");
		}
	})
	function chk(num,ele){
		let target = document.querySelector(".hidden_setting_"+num);
		if(ele.checked == true){
			target.style.opacity=1;
		}
		else{
			target.style.opacity=0;
		}
	}

	function timeset(ele){
		let times = ele.nextElementSibling;
		if(ele.value > 1){
			times.value = 1;
			times.readOnly = true;
		}
		else if(ele.value ==1){
			times.readOnly = false;
		}	
	}

	window.onload = ()=>{
		let days = document.querySelectorAll(".setting_days");
		for(let ele of days){
			timeset(ele);
		}
		let chks = document.querySelectorAll(".hidden_chk");
		for(let ele of chks){
			let num = ele.getAttribute("name");
			chk(num,ele);
		}
	}
</script>
</html>